
.container {
    opacity: 0.8;
    padding-bottom: 100px;
    font-size: 20px;
    margin-top: 100px;
}

.input {
    height: 45px;
}

#tabs {
    margin-top: 50px;
}

#username {
    margin-top: 50px;
}

#password {
    margin-top: 30px;
}

#sex_label {
    margin-left: -15px;
}

#sex {
    margin-top: 20px;
}

#identity_label {
    margin-left: -15px;
}

#identity {
    margin-top: 20px;
}

#signup_submit {
    width: 150px;
    height: 50px;
}

#login_submit {
    width: 150px;
    height: 50px;
}

.submit-block {
    margin-top: 20px;
}

#forget_password {
    display: block;
    margin-top: 5px;
    font-size: 10px;
}

#signup_username {
    margin-top: 20px;
}

.important {
    color: red;
}

#signup_password1 {
    width: 100%;
}

#signup_password2 {
    width: 100%;
}

#eye {
    float: right;
    margin-top: -30px;
    margin-right: 15px;
}

#eye:hover {
    font-size: 25px;
}

#left {
    padding-top: 100px;
    position: fixed;
}

#self-page {
    margin-top: 100px;
}

#date_button {
    height: 45px;
}

#news {
    display: block;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #000;
    margin-bottom: 30px;
}

/*密码强度*/
.pw-strength {
    clear: both;
    position: relative;
    top: 8px;
    width: 180px;
}

.pw-bar {
    background: url(../image/pwd-1.png) no-repeat;
    height: 14px;
    overflow: hidden;
    width: 179px;
}

.pw-bar-on {
    background: url(../image/pwd-2.png) no-repeat;
    width: 0px;
    height: 14px;
    position: absolute;
    top: 1px;
    left: 2px;
    transition: width .5s ease-in;
    -moz-transition: width .5s ease-in;
    -webkit-transition: width .5s ease-in;
    -o-transition: width .5s ease-in;
}

.pw-weak .pw-defule {
    width: 0px;
}

.pw-weak .pw-bar-on {
    width: 60px;
}

.pw-medium .pw-bar-on {
    width: 120px;
}

.pw-strong .pw-bar-on {
    width: 179px;
}

.pw-txt {
    padding-top: 2px;
    width: 180px;
    overflow: hidden;
}

.pw-txt span {
    color: #707070;
    float: left;
    font-size: 12px;
    text-align: center;
    width: 58px;
}
